<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.grape, product_path(product) %><br>
    <%= product.name %><br>
    <%= product.cost %></li>
  <% end %>
</ul>

<hr>

<%= link_to "New Wine", new_product_path %>
